.App {
  padding: 20em;
  display: flex;
  flex:1;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color:blueviolet ;
  color:darkblue;
}

.App .msg{
  flex: 1;
}